@import "gess";

*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
li{
	list-style: none;
}

img{
	max-width: 100%;
	border-radius: 50%;
}
a{
	color: #212121;
}

h1{
	font-size: 5em;
}

header > h1, header >h2{
	text-shadow: 0 2px 2px #727272;
}

@each $i in (1,2,3){
	h#{$i}{
		text-align: center;
	}
}

header{
	text-align: center;
	background-color: #E91E63;
	color: #fff;
	padding: 1em;
	h2{
		padding-bottom: 1em;
		font-style: italic;
	}
}

.row-preview{
	color: #212121;
}

hr{
	margin-top: 2em;
	margin-bottom: 2em;
	width: 100%;
}

%code-commons{
	font-size: 16px;
	white-space: pre;
	-moz-white-space: pre-wrap;
}

.tutorial{
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 5em;
	box-sizing: border-box;
	background-color: #B6B6B6;
	color: #fff;
	font-size: 20px;
	.comment{
		color: #388E3C;
		@extend %code-commons;
	}
	code{
		@extend %code-commons;
		color:#212121;
	}
}

.cage{
	h2{
		font-size: 2em;
	}
	text-align: center;
	background-color: #2196F3;
	color: #fff;
}
.some-info{
	padding-top: 1em;
}

@include row('.cage', (80%, 80%, 20%, 20%, 20%, 40%, 40%), false);
@include row('.more-cage', (90%, 30%, 30%, 30%), false);

.cage *{
	padding-top: 1em;
	vertical-align: middle;
}
