* {
  padding: 0;
  margin: 0;
  font-family: Impact, Charcoal, sans-serif; }

h1 {
  padding-bottom: 10px;
  padding-top: 10px; }

h2 {
  padding-bottom: 10px;
  padding-top: 10px; }

h3 {
  padding-bottom: 10px;
  padding-top: 10px; }

a {
  color: #212121; }

h1 {
  font-size: 5em; }

h1, h2 {
  text-shadow: 0 2px 2px #727272; }

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 80%; }

.tutorial > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  padding-left: 2em; }

.tutorial > *:not(code):not(pre):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6), .tutorial li {
  padding-bottom: 1em; }

.tutorial {
  padding-bottom: 2em;
  padding-left: 1em;
  box-sizing: border-box;
  background-color: #B6B6B6;
  color: #212121; }
  .tutorial ul {
    margin-left: 2em; }
  .tutorial code.hljs {
    display: inline;
    line-height: 2.5em; }
  .tutorial .hljs {
    border-radius: 3px;
    max-width: 80%; }

.bears {
  text-align: center;
  background-color: #2196F3;
  color: #fff; }
  .bears h1, .bears h2, .bears h3 {
    text-align: center; }
  .bears h2 {
    font-size: 2em; }
  .bears img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%; }

.some-info {
  padding-top: 1em; }

@media (min-width: 768px) {
  .bears {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap; }
    .bears > * {
      display: inline-block;
      margin: 0;
      vertical-align: top;
      box-sizing: border-box;
      border-size: 0; }
    .bears > *:nth-child(1) {
      width: 100%; }
    .bears > *:nth-child(2) {
      width: 100%; }
    .bears > *:nth-child(3) {
      width: 100%; }
    .bears > *:nth-child(4) {
      width: 20%; }
    .bears > *:nth-child(5) {
      width: 20%; }
    .bears > *:nth-child(6) {
      width: 20%; }
    .bears > *:nth-child(7) {
      width: 20%; }
    .bears > *:nth-child(8) {
      width: 20%; } }

@media (min-width: 480px) and (max-width: 768px) {
  .bears {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap; }
    .bears > * {
      display: inline-block;
      margin: 0;
      vertical-align: top;
      box-sizing: border-box;
      border-size: 0; }
    .bears > *:nth-child(1) {
      width: 100%; }
    .bears > *:nth-child(2) {
      width: 100%; }
    .bears > *:nth-child(3) {
      width: 100%; }
    .bears > *:nth-child(4) {
      width: 50%; }
    .bears > *:nth-child(5) {
      width: 50%; }
    .bears > *:nth-child(6) {
      width: 50%; }
    .bears > *:nth-child(7) {
      width: 50%; }
    .bears > *:nth-child(8) {
      width: 50%; } }

@media (min-width: 0) and (max-width: 480px) {
  .bears {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap; }
    .bears > * {
      display: inline-block;
      margin: 0;
      vertical-align: top;
      box-sizing: border-box;
      border-size: 0; }
    .bears > * {
      width: 100%; } }

@media (min-width: 768px) {
  .more-bears {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap; }
    .more-bears > * {
      display: inline-block;
      margin: 0;
      vertical-align: top;
      box-sizing: border-box;
      border-size: 0; }
    .more-bears > * {
      width: 33%; } }

@media (min-width: 480px) and (max-width: 768px) {
  .more-bears {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap; }
    .more-bears > * {
      display: inline-block;
      margin: 0;
      vertical-align: top;
      box-sizing: border-box;
      border-size: 0; }
    .more-bears > * {
      width: 50%; } }

@media (min-width: 0) and (max-width: 480px) {
  .more-bears {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap; }
    .more-bears > * {
      display: inline-block;
      margin: 0;
      vertical-align: top;
      box-sizing: border-box;
      border-size: 0; }
    .more-bears > * {
      width: 100%; } }

.bears * {
  padding-top: 1em;
  vertical-align: middle; }

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8; }

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold; }

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080; }

.hljs-string,
.hljs-doctag {
  color: #d14; }

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold; }

.hljs-subst {
  font-weight: normal; }

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold; }

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal; }

.hljs-regexp,
.hljs-link {
  color: #009926; }

.hljs-symbol,
.hljs-bullet {
  color: #990073; }

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3; }

.hljs-meta {
  color: #999;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }
