@mixin row($width-children){
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  & > * {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
    border-size: 0;
  }
  @if(type_of($width-children)=='number'){
    & > * { width: $width-children; }
  }
  @else{
    @if(type_of($width-children)=='list'){
      $length: length($width-children);
      $i: 1;
      @each $width in $width-children{
        & > *:nth-child(#{$i}){
          width: $width;
        }
        $i: $i + 1;
      }
    }
    @else{
      @each $child, $width in $width-children{
        #{$child}{ width: $width; }
      }
    }
  }
}